<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <mapping resource="com/celebtwit/dao/Dbcache.hbm.xml" />
        <mapping resource="com/celebtwit/dao/Dbcacheexpirable.hbm.xml" />
        <mapping resource="com/celebtwit/dao/Emailme.hbm.xml" />
        <mapping resource="com/celebtwit/dao/Error.hbm.xml" />
        <mapping resource="com/celebtwit/dao/Pageperformance.hbm.xml" />
        <mapping resource="com/celebtwit/dao/Systemprop.hbm.xml" />
        <mapping resource="com/celebtwit/dao/Listimportblock.hbm.xml" />
        <mapping resource="com/celebtwit/dao/Mention.hbm.xml" />
        <mapping resource="com/celebtwit/dao/Pl.hbm.xml" />
        <mapping resource="com/celebtwit/dao/Suggest.hbm.xml" />
        <mapping resource="com/celebtwit/dao/Twit.hbm.xml" />
        <mapping resource="com/celebtwit/dao/Twitpl.hbm.xml" />
        <mapping resource="com/celebtwit/dao/Twitpost.hbm.xml" />
        <mapping resource="com/celebtwit/dao/User.hbm.xml" />
        <mapping resource="com/celebtwit/dao/Userpersistentlogin.hbm.xml" />
        <mapping resource="com/celebtwit/dao/Userrole.hbm.xml" />
        
    </session-factory>
</hibernate-configuration>
