<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

    <description>web.xml</description>


    <error-page>
        <error-code>500</error-code>
        <location>/error/500.jsp</location>
    </error-page>



    <listener>
      <listener-class>com.celebtwit.startup.ApplicationStartup</listener-class>
    </listener>



    <servlet>
      <servlet-name>jcaptcha</servlet-name>
      <servlet-class>com.celebtwit.util.jcaptcha.ImageCaptchaServlet</servlet-class>
      <load-on-startup>0</load-on-startup>
   </servlet>
   <servlet-mapping>
        <servlet-name>jcaptcha</servlet-name>
        <url-pattern>/jcaptcha</url-pattern>
    </servlet-mapping>




    <filter>
        <filter-name>HibernateSessionCloser</filter-name>
        <filter-class>com.celebtwit.dao.hibernate.HibernateSessionCloser</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HibernateSessionCloser</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>FilterMain</filter-name>
        <filter-class>com.celebtwit.htmlui.FilterMain</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterMain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>EmailActivationServlet</servlet-name>
        <servlet-class>com.celebtwit.email.EmailActivationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmailActivationServlet</servlet-name>
        <url-pattern>/eas</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FbCallbackServlet</servlet-name>
        <servlet-class>com.celebtwit.facebook.FbCallbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FbCallbackServlet</servlet-name>
        <url-pattern>/fb/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmbedJavascript</servlet-name>
        <servlet-class>com.celebtwit.embed.EmbedJavascript</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmbedJavascript</servlet-name>
        <url-pattern>/embed/horizjs/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmbedJavascriptVertical</servlet-name>
        <servlet-class>com.celebtwit.embed.EmbedJavascriptVertical</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmbedJavascriptVertical</servlet-name>
        <url-pattern>/embed/vertjs/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.celebtwit.profile.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>BlogRss</servlet-name>
        <servlet-class>com.celebtwit.helpers.BlogRss</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogRss</servlet-name>
        <url-pattern>/rss.xml</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ThredRss</servlet-name>
        <servlet-class>com.celebtwit.helpers.ThredRss</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThredRss</servlet-name>
        <url-pattern>/thredrss.xml</url-pattern>
    </servlet-mapping>




    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <distributable/>



</web-app>
